html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
 background-color: aliceblue;
 

}
.h1title{
    color: darkblue;
    font-family: 'Playfair Display', serif;
    font-size:  3vw;
}
.info-container{
    margin-top: 1%;
    width: auto;
    overflow-y: scroll;
    height: 80%;
    
  }
  .info-container_page{
    margin-top: 1%;
    width: auto;
    overflow-y: scroll;
    height: 75%;
  }
  .info-card{
    background: rgba(228, 228, 228, 0.986);
    
  }
  .info-alert{
    width: 5%;
    height: auto;
  }
.instruct{
  font-size:1.2vw;
}
.instruct_title{
  font-size:1.5vw;
}
  

.nav-btn-border{
    border: 2px solid darkblue !important;
}
.navbarbg{
    background-color: darkblue;
}
.navigation-button{
    border-radius: 50%;
    height:43px; 
    width:43px;
    margin-bottom: 7px !important;
    margin-right:5px;
    font-size: 1vw;
    font-weight: bold;
    padding: .200rem .40rem !important;
    
}
.instruct_c_btn{
  width: 3%; 
  height :auto;
}
.instruct_btn{
  width:auto;
   height: 3%;
}

@media screen and (max-width: 800px) {
  .h1title{
    font-size: 5.5vw;
    font-weight: bold;
}
.subtitle{
  
    font-family: 'Playfair Display', serif;
    font-size:  5vw;
}
 
  .info-container_page{
    margin-top: 1%;
    width: auto;
    overflow-y: scroll;
    height: 80%;
  }
  .info-card{
    background: rgba(228, 228, 228, 0.986);
  
    
  }
  .card-title{
    font-size:4vw;
  }
  .card-body{
    font-size: 3.5vw;
    
  }
  .info-alert{
    width: 10%;
    height: auto;
    margin-bottom: 1%;
   
  }
  .instruct_c_btn{
    font-size: 20px;
    width: 40px;
  }
.instruct{
  font-size:4vw;
 padding-left: 2%;
 text-align: justify;
}
.instruct_btn{
  font-size: 10px;
}
.instruct_title{
  font-size:4vw;
}
.info-container_page{
  margin-top: 1%;
  width: auto;
  overflow-y: scroll;
  height: 85%;
  
}
}