html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
 background-color: aliceblue;
 

}
.navbarbg{
    background-color: darkblue;
}
.navigation-button{
    border-radius: 50%;
    height:43px; 
    width:43px;
    margin-bottom: 7px !important;
    margin-right:5px;
    font-size: 1vw;
    font-weight: bold;
    padding: .200rem .40rem !important;
    
}